.spinner {
  display: inline-block;
}

.ring {
  display: inline-block;
  border-radius: 50%;
  border-style: solid;
  animation: spin 0.8s linear infinite;
}

.small .ring {
  width: 1rem;
  height: 1rem;
  border-width: 2px;
}

.medium .ring {
  width: 2rem;
  height: 2rem;
  border-width: 3px;
}

.large .ring {
  width: 3rem;
  height: 3rem;
  border-width: 4px;
}

.primary .ring {
  border-color: rgba(59, 130, 246, 0.2);
  border-top-color: #3b82f6;
}

.white .ring {
  border-color: rgba(255, 255, 255, 0.3);
  border-top-color: white;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
